.hover\:bg-primary:hover {
    background-color: var(--primary);
}

.hover\:bg-danger:hover {
    background-color: var(--danger);
}

.hover\:bg-success:hover {
    background-color: var(--success);
}